{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y", "react-hooks"],
  "rules": {
  "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0
},
  "settings": {
  "import/resolver": {
    "node": {
      "extensions": [
        ".js"
      ],
        "paths": [
        "src"
      ]
    }
  }
}
}
